# Q1.홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해보자.

|과목|점수|
|----|:---:|
|국어|80|
|영어|75|
|수학|55|

In [7]:
a=[80,75,55]
avg= sum(a)/len(a)
avg

70.0

# Q2. 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해보자.

자연수 13을 2로 나눴을 때 나머지 값이 0와 같다면 짝수 같지 않다면 홀수로 판별

# Q3. 홍길동 씨의 주민등록번호는 881120-1068234이다.   
홍길동씨의 주민등록번호를 연월일(YYYYMMDD)부분과 그 뒤의 숫자 부분으로 나누어 출력해보자.
```
pin = '881120-1068234'
yyyymmdd = # 입력
num =  # 입력
print() # 연월일 부분 출력
print() # 숫자부분 출력
```

In [35]:
pin = '881120-1068234'
s1=pin.split("-")
yyyymmdd = '19'+s1[0]
num = s1[1]
print(yyyymmdd)
print(num)

19881120
1068234

# Q4. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다.   
주민등록번호에서 성별을 나타내는 숫자를 출력해보자.
```
pin = "881120-1068234"
print( )
```

In [13]:
pin = "881120-1068234"
print(pin[7])

1

# Q5. 다음과 같은 문자열 a:b:c:d가 있다.   
문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해보자.
```
a = "a:b:c:d"
b =
print(b)
```

In [15]:
a = "a:b:c:d"
b = a.replace(':','#')
print(b)

a#b#c#d

# Q6. [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.
```
a = [1, 3, 5, 4, 2]
a.
a.
print()
```

In [25]:
a = [1, 3, 5, 4, 2]
a.sort()
b=a[::-1]
print(b)

[5, 4, 3, 2, 1]

# Q7. ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해보자.
```
a = ['Life', 'is', 'too', 'short']
result =
print(result)
```

In [7]:
a = ['Life', 'is', 'too', 'short']
result = a[0]+" "+a[1]+" "+a[2]+" "+a[3]
print(result)

Life is too short

# Q8. (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.
```
a = (1, 2, 3)
a =
print(a)
```

In [8]:
a= (1,2,3)
b= (4,)
c=a+b
print(c)

(1, 2, 3, 4)

# Q9. 다음과 같은 딕셔너리 a가 있다.
```
>>> a = dict()
>>> a
{}
```
다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.   
1. a['name'] = 'python'
2. a[('a',)] = 'python'
3. a[[1]] = 'python'
4. a[250] = 'python'

1. 'name'의 key에 'python'이 있다면 맞지만, "=="로 해야 나옴
2, 오류남. key값은 다수일 수 없음
3. 오류남, key는 인덱스 사용 불가
4. 250 key에 'python'이 있다면 "=="로 해야 나옴

# Q10. 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
```
a = {'A':90, 'B':80, 'C':70}
result =
print(a)
print(result)
```

In [32]:
a = {'A':90, 'B':80, 'C':70}
result = a.get('B')
print(a)
print(result)

{'A': 90, 'B': 80, 'C': 70}
80

# Q11. a 리스트에서 중복 숫자를 제거해 보자.
```
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet =
b =
print(b)
```

In [33]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aset =set(a)
b= [aset]
print(b)

[{1, 2, 3, 4, 5}]

# Q12. 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다.   
다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게될까?   
그리고 이런 결과가 나오는 이유에 대해 설명해보자.
```
>>> a = b = [1, 2, 3]
>>> a[1] = 4
>>> print(b)
```

In [34]:
a = b = [1, 2, 3]
a[1] =4
print(b) 
#a와 b의 객체 동일한 id를 가지고 있기 때문에 a를 변경했을 때, b도 변경됨

[1, 4, 3]

```
"서두르지 마라, 그러나 멈추지도 마라."
- 요한 볼프강 폰 괴테
```