131
사과 귤 수박

132 
print("####") 3번 반복 => 과일 리스트 수만큼

133

In [3]:
#134
print("A")
print("B")
print("C")

A
B
C

In [4]:
#135
print("출력: ","A")
print("출력: ","B")
print("출력: ","C")

출력:  A
출력:  B
출력:  C

In [5]:
#136
for 변수 in [10, 20, 30]:
 print(변수)

10
20
30

In [7]:
#137
for a in [10, 20, 30]:
    print(a)

10
20
30

In [8]:
#138
for c in [10, 20, 30]:
 print(c)
 print("-------")  #for 문이랑 같이 도는 중

10
-------
20
-------
30
-------

In [10]:
#139
print("++++")
for a in [10, 20, 30]:
   print(a)

++++
10
20
30

In [13]:
#140
for a in (1,2,3,4):
 print("----")


#<오답>
#for a in ("-------"*4):
 #print(a)

----
----
----
----

In [15]:
#141
list = [100, 200, 300]
for a in list:
  print(a+10)

110
210
310

In [16]:
#142
list = ["김밥", "라면", "튀김"]
for a in list:
 print("오늘의 메뉴: ", a)

오늘의 메뉴:  김밥
오늘의 메뉴:  라면
오늘의 메뉴:  튀김

In [22]:
#143
list =["SK하이닉스", "삼성전자", "LG전자"]
for a in list:
 print(len(a))


#<오답>
#list =["SK하이닉스", "삼성전자", "LG전자"]
#for a in len(list):
# print(a)

6
4
4

In [24]:
#144
list = ['dog', 'cat', 'parrot']
for a in list:
  print(a, " ", len(a))

dog   3
cat   3
parrot   6

In [31]:
#145
list = ['dog', 'cat', 'parrot']
for a in list:
      print(a[0])

d
c
p

In [33]:
#146
list = [1, 2, 3]
for a in list:
 print("3 x ",a)

3 x  1
3 x  2
3 x  3

In [2]:
#147
list = [1, 2, 3]
for a in list:
 print("3 x ",a, "= ", a*3)

3 x  1 =  3
3 x  2 =  6
3 x  3 =  9

In [4]:
#148
list = ["가", "나", "다", "라"]
for a in list[1:4]:
  print(a)

나
다
라

In [7]:
#149
list = ["가", "나", "다", "라"]
for a in list[::2]:
 print(a)

가
다

In [11]:
#150
list = ["가", "나", "다", "라"]
for a in list[::-1]:
 print(a)

라
다
나
가

In [14]:
#151
list = [3, -20, -3, 44]
for a in list:
    if a<0:
        print(a)



#<오답>
#list = [3, -20, -3, 44]
#for a in list<0:
 #print(a)

-20
-3

In [16]:
#152
list = [3, 100, 23, 44]
for a in list:
    if a%3 == 0:
        print(a)

3

In [17]:
#153
list = [13, 21, 12, 14, 30, 18]
for a in list:
    if a<20 and a%3 ==0:
        print(a)

12
18

In [20]:
#154
list = ["I", "study", "python", "language", "!"]
for a in list:
    if int(len(a))>=3:
        print(a)

study
python
language

In [21]:
#155
list = ["A", "b", "c", "D"]
for a in list:
    if a.isupper():
        print(a)

A
D

In [22]:
#156
list = ["A", "b", "c", "D"]
for a in list:
    if a.islower():
        print(a)

b
c

In [27]:
#157
list = ['dog', 'cat', 'parrot']
for a in list:
    print(a[0].upper()+a[1:])



#<오답>
#list = ['dog', 'cat', 'parrot']
#for a in list:
 #   if a.islower([0]) == True :
  #    print(a[1].upper())

Dog
Cat
Parrot

In [33]:
#158
list = ['hello.py', 'ex01.py', 'intro.hwp']
for a in list:
    b,c =a.split(".")
    print(b)

hello
ex01
intro

In [37]:
#159
list =['intra.h', 'intra.c', 'define.h', 'run.py']
for a in list:
   if a[-2:] == ".h":
    print(a)

intra.h
define.h

In [ ]:
 #159 (답안)
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
  if split[1] == "h":
    print(변수)

In [46]:
#160
list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for a in list:
    if (a[-2:] == ".h") or (a[-2:] == ".c"):
        print(a)

intra.h
intra.c
define.h

In [49]:
#161
a=range(0,100)
for b in a:
    print(b)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [55]:
#162
a=range(2002,2051,4)   ## 리스트는 리스트로 보여줌. 요소값 나열은 for
for b in a:
    print(b)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [58]:
#163
a=range(1,31)
for b in a:
    if b%3 ==0:
     print(b)

3
6
9
12
15
18
21
24
27
30

In [60]:
#164
a=range(1,100)
b=a[::-1]
for c in b:
    print(c)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
#164 답안
for i in range(100):
    print(99 - i)

In [63]:
#165
for a in range(10):
    print(a/10)


#<오답>
#a=0.0
#for b in a:
#    a += 0.1
 #   pirnt(b)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [65]:
#166
a=3
b=range(1,10)
for c in b:
    print(a,"x",c,"=",a*c)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [74]:
#167
a=3
b=range(1,10)
for c in b:
    if c%2 ==1:
     print(a,"x",c,"=",a*c)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [2]:
  #168        접근 못한 문제
a=range(1,11)
b=0
for c in a:
    b += c

print("합: ",b)   # print 들여쓰기 하지 않아야 마지막 값만

합:  55

In [3]:
#169
a=range(2,11)
e=1
for b in a:       #rfor b in range(1,11,2) :
    if b% 2 !=0:
        e +=b
print(e)

25

In [2]:
#170
a=range(1,11)
b=1
for c in a:
    b *= c
print(b)

3628800

In [16]:
#171         접근 못함

list = [32100, 32150, 32000, 32500]
for a in range(4):   #range(0,4) = 0,1,2,3  & range(en(list)) better
  print(list[a])

32100
32150
32000
32500

In [18]:
#172
list = [32100, 32150, 32000, 32500]
b=range(len(list))
for a in b:
    print(b[a], list[a])

0 32100
1 32150
2 32000
3 32500

In [19]:
 #172 답안   enumerate ?? 함수는 우선 pass
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [25]:
#173
list = [32100, 32150, 32000, 32500]
b=range(len(list))
for a in b:
    print(3-a,list[a])

3 32100
2 32150
1 32000
0 32500

In [30]:
#174
list = [32100, 32150, 32000, 32500]
b=range(1,4)
c=range(90,121,10)
for a in b:
    print(c[a],list[a])

100 32150
110 32000
120 32500

In [ ]:
# 174 답안
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

In [31]:
#175       해설 읽고 접근
list = ["가", "나", "다", "라"]
for a in range(0,3):
    print(list[a], list[a+1])

가 나
나 다
다 라

In [33]:
#176
list = ["가", "나", "다", "라", "마"]
for a in range(0,6):
    print(list[a], list[a+1], list[a+2])

가 나 다
나 다 라
다 라 마

IndexError: list index out of range

In [35]:
#177
list = ["가", "나", "다", "라"]
for a in range(0,3):
    print(list[3-a], list[2-a])

라 다
다 나
나 가

In [37]:
#178
list = [100, 200, 400, 800]
for a in range(len(list)):
    print(list[a+1]-list[a])

100
200
400

IndexError: list index out of range

In [39]:
#179
list = [100, 200, 400, 800, 1000, 1300]
for a in range(len(list)):
    print((list[a]+list[a+1]+list[a+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

IndexError: list index out of range

In [49]:
#180
volatility = []
low  = [100, 200, 400, 800, 1000]
high = [150, 300, 430, 880, 1000]
for a in range(0,5):
    volatility.append(high[a]-low[a])  ## .apppend() 리스트에 붙이기
volatility

[50, 100, 30, 80, 0]

#181~200 은 안배운 내용이라 잠정 pass =0=;;;;;