In [264]:
#1
print("Hello World")

#2
print("Mary's cosmetic")

#3 큰 따옴표, 작은 따옴표 구분
print ('신씨가 소리질렀다. "도둑이야"')

#4 \의 구분 사용
print ("C:\Windows")

#5 \n 은 '줄바꾸기' \t 는 '탭' print될 때 반영됨
print("안녕하세요.\n만나서\t\t반갑습니다.")

#6
print("오늘은", "일요일")

#7
print("naver;kakao;sk;samsung")
print("naver","kakao","sk","samsung", sep=";")

#8
print("naver/kakao/samsung")
print("naver","kakao","samsung", sep="/")

#9 print 함수 end ; 여러명령작성가능
print("firts",end=" ");print("second")

#10
print(5/3)

Hello World
Mary's cosmetic
신씨가 소리질렀다. "도둑이야"
C:\Windows
안녕하세요.
만나서		반갑습니다.
오늘은 일요일
naver;kakao;sk;samsung
naver;kakao;sk;samsung
naver/kakao/samsung
naver/kakao/samsung
firts second
1.6666666666666667

In [267]:
#11
삼성전자 = 50000
a= 삼성전자 *10
print(a)

#12 변수로 바인딩
시가총액 ='298조'
현재가 = '50,000원'
PER =15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

#13
s = "hello"
t = "python"
s+'!'+' '+t
print(s+"!", t)

#14
2+2*3
#15
a='132'
type(a)

#16, int값에서 n_int+1 은 정수 확인용
num_str ="720"
n_int = int(num_str)
print(n_int+1, type(n_int))

#17 값 속성 바꾸기 STR(변수)
num=100
nstr = str(num)
print(nstr, type(nstr))

#18 float 함수 실수타입으로 바꾸기
q18 =15.79
q18_1=float(q18)
print(q18_1, type(q18_1))

#19
year="2020"
q19= int(year)
print(q19-3, q19-2, q19-1)

#20
q20=48584
total=q20*36
total

500000
298조 <class 'str'>
50,000원 <class 'str'>
15.79 <class 'float'>
hello! python
721 <class 'int'>
100 <class 'str'>
15.79 <class 'float'>
2017 2018 2019

1749024

In [268]:
#21 문자 indexing
letter ='python'
print(letter[0], letter[2])

#22
license_plate = "24가 2210"
print(license_plate[4:8])

#23 indexing [::X] =[시작, 끝, offset 값(X)] 가능
string = "홀짝홀짝홀짝"
print(string[0],string[2],string[4])
print(string[::2])

#24 문자열 슬라이싱, 뒤집어 출력
string1 = "PYTHON"
print(string1[::-1])
      
#25 .replace(,) 값 치환하기
phone_number = "010-1111-2222"
q25=phone_number[0:3]+" "+phone_number[4:8]+" "+phone_number[9:]
print(q25)
phone_number=phone_number.replace("-"," ")
print(phone_number)

#26
phone_number = "010-1111-2222"
phone_number=phone_number.replace("-","")
print(phone_number)

#27 split 활용 문자 추출
url = "http://sharebook.kr"
q27=url.split(".")
print(q27[1])

p t
2210
홀 홀 홀
홀홀홀
NOHTYP
010 1111 2222
010 1111 2222
01011112222
kr

In [68]:
#28 str은 원본변경 불가=> 에러남
>> lang = 'python'
>> lang[0] = 'P'
>> print(lang)

SyntaxError: invalid syntax (800643803.py, line 2)

In [241]:
#29
string = 'abcdfe2a354a32a'
q29 = string.replace("a", "A")
print(q29)

Abcdfe2A354A32A

In [72]:
#30 str 원본변경 불가 =>그대로 출력됨
>> string = 'abcd'
>> string.replace('b', 'B')
>> print(string)

SyntaxError: invalid syntax (3748308148.py, line 2)

In [73]:
#31 문자열은 연산되지 않음 => '34' 출력값
>> a = "3"
>> b = "4"
>> print(a + b)

SyntaxError: invalid syntax (1815291929.py, line 2)

In [188]:
#32 문자열 곱셈 => HiHiHi 세번 표시됨
print("Hi" * 3)

#33 
print('-'*80)

#34
t1 = 'python'
t2 = 'java'
print((t1+" "+t2+" ")*4)

#35 formatting 
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1,age1))
print("이름: {} 나이: {}".format(name2,age2))

#36 format() method
print(("이름: {} 나이: {}").format(name1,age1))
print(("이름: {} 나이: {}").format(name2,age2))

#37 f string
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

#38 
상장주식수 = "5,969,782,550"
q38=상장주식수.replace(",","")
q38_1=int(q38)
print(q38_1+1)

#39
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

--------------------------------------------------------------------------------
python java python java python java python java
이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13
5969782551
2020/03
삼성전자
BTC_KRW
btc_krw

'Hello'

In [269]:
#40 공백삭제 ,strip() method
data = "   삼성전자    "
q40=data.strip()
print(q40)

#41 대문자 .upper() method
ticker = "btc_krw"
q41=ticker.upper()
print(q41)

#42 소문자 .lower() method
ticker2 = "BTC_KRW"
q42=ticker2.lower()
print(q42)

#43 .capitalize() method
q43="hello"
q43.capitalize()

삼성전자
BTC_KRW
btc_krw

'Hello'

In [245]:
#44 endswith method 특정문자열로 끝나는지 비교가능 True or False
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [246]:
#45 
file_name1 = "보고서.xlsx"
file_name1.endswith(("xlsx", "xls"))

True

In [247]:
#46 앞의 동일값 .startswith() method
file_name2 = "2020_보고서.xlsx"
file_name2.startswith("2020")

True

In [255]:
#47 .split() method
a = "hello world"
print(a.split())

#48
ticker3 = "btc_krw"
print(ticker3.split("_"))

#49
date2 = "2020-05-01"
print(date2.split("-"))

#50
data3 = "039490     "
print(data3.rstrip())

#51  list [ ]
movie_rank=['닥터 스트레인지','스플릿','럭키']

#52  리스트에 요소 추가 .append() method
movie_rank.append("배트맨")
print(movie_rank)

#53 특정위치에 추가 .insert()
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

#54 특정위치 값 삭제 del or .pop() method
del movie_rank[3] #movie_rank.pop(3)
print(movie_rank)

#55 del 한번 진행하고 나면 위치는 재배열됨
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

#56 리스트끼리 + 가능
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang1+lang2

#57 min, max
nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums))
print(min(nums))

#58 리스트 내 합계 sum()
q58 = [1, 2, 3, 4, 5]
sum(q58)

#59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

#60 리스트 정수 평균 함수없음 => 합계 / 개수 로 구함
q60 = [1, 2, 3, 4, 5]
ave = sum(q60) / len(q60)
ave

['hello', 'world']
['btc', 'krw']
['2020', '05', '01']
039490
['닥터 스트레인지', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
['닥터 스트레인지', '슈퍼맨']
7
1

3.0

In [262]:
#61 slicing index로 자르기 [ : ]
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:6])

#62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

#63
print(nums[1::2])

#64
nums1 = [1, 2, 3, 4, 5]
print(nums1[::-1])

#65
interest = ['삼성전자', 'LG전자', 'Naver']
interest[0],interest[2]

#66 리스트 내 합치기 ("".join(변수))
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(interest)
print(" ".join(interest))

#67 
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
"/".join(interest)

#68  \n은 프린트에서 적용됨
print("\n".join(interest))

#69 하나의 문자열을 자르면 리스트로 됨
string = "삼성전자/LG전자/Naver"
q69=string.split("/")
print(q69)

#70
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()

[100, 130, 140, 150, 160]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]
[5, 4, 3, 2, 1]
['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우
['삼성전자', 'LG전자', 'Naver']

In [263]:
#71 튜플을 정의하는 ( )
my_variable=()

#72
movie_rank=("닥터 스트레인지", "스플릿", "럭키")
print(movie_rank)

#73  튜플에 하나의 값을 넣는 경우 (X,)
q73=(1,)
type(q73)

#74  튜플로 원분 수정이 불가한 자료
>> t = (1, 2, 3)
>> t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment

#75 튜플의 원칙은 ( ) but, 없어도 됨
t = 1, 2, 3, 4
type(t)

#76 튜플은 수정되지 않지만 변수값을 새로 지정하는 건 가능
t = ('a', 'b', 'c')
t = ('A', 'B', 'C') 

#77 튜플 -> 리스트 변경 가능
interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

#78 리스트-> 튜플 변경 가능
interest1 = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest1)

#79  튜플 언패킹??
>>>temp = ('apple', 'banana', 'cake')
>>>a, b, c = temp
>>>print(a, b, c)

#80 range(시작값,끝값+1,간격)
q80=tuple(range(2,99,2))
print(q80)

SyntaxError: invalid syntax (15957331.py, line 13)